@charset "UTF-8";
:root {
  --light-green: #d5edeb;
  --green: #63dbd0;
  --brown: #403632;
  --light-grey: #eee;
  --white: #fff;
}
// 各ページのバックグラウンドイメージ
@mixin pageBg($bgImgUrl) {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/#{$bgImgUrl}.jpg") center center / cover no-repeat fixed;
  text-align: center;
}
// コンタクトロゴ
@mixin contactLogo {
  .contact-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 65px;
      height: 65px;
      @include sp {
        width: 50px;
        height: 50px;
      }
      background: white;
      padding: 7px;
      margin: 0 25px;
      border: 3px double black;
      border-radius: 5px;
      box-shadow: -3px 3px 3px #bababa, 3px -3px 3px #fff;
    }
  }
}
// ブレイクポイント設定
$breakpoint-tb: 767px;
$breakpoint-sp: 550px;
//タブレット以下
@mixin tb {
  @media (max-width: ($breakpoint-tb)) {
    @content;
  }
}
//スマホ以下
@mixin sp {
  @media (max-width: ($breakpoint-sp)) {
    @content;
  }
}
